<!-- Sign up page -->

<%= form_for @user do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %><br />
	<%= f.label :email %>
	<%= f.text_field :email %><br />
	<%= f.label :password %>
	<%= f.password_field :password %><br />
	<%= f.submit %>
<% end %>


<!-- <form action="/users" method="post">
	<p><input type="text" name="user[name]" placeholder="Name" /></p>
	<p><input type="text" name="user[email]" placeholder="Email" /></p>
	<p><input type="password" name="user[password]" placeholder="Password" /></p>
	<button type="submit" class="btn btn-default">Submit</button>
</form>	 -->