<!-- Sign up page -->
<div class="register">
	<div class="register-form">
		<h2>Register</h2><br>	
		<%= form_for @user do |f| %>
			<%= f.label :name %><br>
			<%= f.text_field :name %><br><br>
			<%= f.label :email %><br>
			<%= f.text_field :email %><br><br>
			<%= f.label :password %><br>
			<%= f.password_field :password %><br><br>
			<%= f.submit 'Submit', :class => "btn btn-success" %>
		<% end %>
	</div>
</div>

<!-- <form action="/users" method="post">
	<p><input type="text" name="user[name]" placeholder="Name" /></p>
	<p><input type="text" name="user[email]" placeholder="Email" /></p>
	<p><input type="password" name="user[password]" placeholder="Password" /></p>
	<button type="submit" class="btn btn-default">Submit</button>
</form>	 -->