<div class="cover">
  <div class="title">
    <h1>Volunteering@Square</h1>
    <p class="lead">Inherent in our mission is the desire to make things easier for those in our community.</p>
  </div>
</div>

<!-- Search box -->
<div class="search">
    <form method="GET">
    <input type="text" class="input" placeholder="Search" name="search" value="<%=params[:search]%>">
        <button type="submit" class="btn btn-success">GO</button>
    </form>
</div>
</br>

<div class="events">
    <table class="table">
        <% @events.each do |event| %>
            <tr class="event">
                <td>
                    <% if event.organization.url %>
                        <h6><a href="<%= event.organization.url %>"><%= event.organization.name %></a></h6>
                    <% else %>
                        <h6><%= event.organization.name %></h6>
                    <% end %>
                    <h3><%= event.title %></h3>
                    <%= event.description %><br><br>
                    <input class="btn btn-primary" type="button" value="Volunteer"><br><br>
                </td>
            </tr>
        <% end %>
    </table>
</div>